Header add Pragma "no-cache"
Header set Cache-Control no-cache

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ /index.cgi/$1 [L]

RewriteCond %{THE_REQUEST} ^.*/index.cgi/
RewriteRule index.cgi/(.*)$ /$1 [R=301,L]

<Files ~ "\.py$">
  deny from all
</Files>
