{% extends 'base.html' %}
{% block head %}
<script src="{{ url_for("static", filename="js/admin/league.js") }}?{{ timestamp }}"></script>
{% endblock %}

{% block title %}{{ league.name }}{% endblock %}
{% block content %}
<div class="container">
  <ul class="list-group list-group-flush mb-3">
    <li class="list-group-item">
      <div class="row">
        <div class="col h3">{{ league.name }}</div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-2 pale-gray small">日時</div>
        <div class="col-10">{{ league.date_for_display }}</div>
      </div>
    </li>
    <li class="list-group-item">
      {% include 'league/parts/row_member_count_and_capacity.html' %}
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-2 pale-gray small">場所</div>
        {% set place = league.place %}
        <div class="col-10"><a href="{{ place.url }}" target="_blank" rel="noopener noreferrer">{{ place.name }}</a></div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row align-items-center">
        <div class="col-2 pale-gray small">ゲームカウント</div>
        <div class="col-10">{{ league.game_count }} ゲームマッチ</div>
      </div>
    </li>
  </ul>
  {% if not league.is_status_finished() %}
  <div class="row mt-4 mb-5">
    <div class="col-3">
      <a class='btn' href='/admin/league/modify?id={{ league.id }}'>修正する</a>
    </div>
  </div>
  {% endif %}
</div>
{% if league.is_status_recruiting() %}
 {% include 'admin/league/parts/status_recruiting.html' %}
{% elif league.is_status_ready() and league.is_before_session() %}
 {% include 'admin/league/parts/status_recruiting.html' %}
{% elif league.is_status_ready() %}
  {% include 'admin/league/parts/status_ready.html' %}
{% else %}
{% endif %}
{% endblock %}
