#admin-league-register .invalid {
  display: none;
}

#admin-league-register .bi-check2-circle {
  font-size: 1.0rem;
  display: none;
}

#admin-league-register select {
  font-size: 100%;
  line-height: 1.1em;
  border-radius: 5px;
  padding: 3%;
  border: 2px solid #91C9F4;
}

#admin-user-register-point select {
  font-size: 100%;
  line-height: 1.1em;
  border-radius: 5px;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 3%;
  padding-right: 3%;
  border: 2px solid #91C9F4;
}

select.user-select {
  font-size: 100%;
  line-height: 1.1em;
  border-radius: 5px;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 3%;
  padding-right: 3%;
  background: #FCFCFC;
  border: 2px solid #91C9F4;
}

.btn.force-join {
  width: 100%;
  border: 3px solid #FF9A68;
  background: #FF9A68;
}

.horizontal-scroll {
  overflow-x: scroll;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

li.horizontal-item {
  min-width: 1280px;
}

.test {
  background-color: #0000ff;
}

#admin-user-register-point .price input {
    width: 100%;
}
