<div class="container">
  {% set members = league.members %}
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <div class="col h3">{{ league.name }} の結果</div>
    </li>
    <li class="list-group-item disabled">
      <div class="row">
        <div class="offset-3 col-3 text-center offset-md-2">
          <div class="row">
            <div class="col">勝敗</div>
          </div>
          <div class="row small">
            <div class="col small">
              <span class="small">(ゲーム得失点差, ポイント得失点差)</span>
            </div>
          </div>
        </div>
        <div class="col-1 text-center">
          順位
        </div>
        <div class="col-5">
          順位づけの理由
        </div>
      </div>
    </li>
    {% for rank in rank_list %}
    <li class="list-group-item">
      <div class="row">
        <div class="col-3 col-md-2">
          {{ rank.user.name }}
        </div>
        <div class="col-3 text-center">
          {{ rank.win }} - {{ rank.lose }}
          <div class="row small pale-gray">
            <div class="col">
              ({{ rank.game_of_difference }}, {{ rank.point_of_difference }})
            </div>
          </div>
        </div>
        <div class="col-1 text-center">
          {{ rank.rank }}
        </div>
        <div class="col-5">
          {{ rank.reason }}
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>
  <form action="{{ url_for('admin_league_finish', league_id=league.id) }}" method="post">
    <div class="form-group">
      <div class="row align-items-center">
        <div class="col-4 col-sm-3 col-lg-2">
          獲得ポイント倍率
        </div>
        <div class="col-8 col-sm-9 col-lg-10">
          <div class="btn-group" role="group">
            <input type="radio" name="league_point_group_id" value="1" id="radioBtn1" class="btn-check" autocomplete="off" {% if league.league_point_group_id_is(1) %} checked {% endif %}>
            <label class="btn btn-outline-primary" for="radioBtn1">x1.0</label>

            <input type="radio" name="league_point_group_id" value="2" id="radioBtn2" class="btn-check" autocomplete="off" {% if league.league_point_group_id_is(2) %} checked {% endif %}>
            <label class="btn btn-outline-primary" for="radioBtn2">x1.5</label>

            <input type="radio" name="league_point_group_id" value="3" id="radioBtn3" class="btn-check" autocomplete="off">
            <label class="btn btn-outline-danger" for="radioBtn3">x2.0</label>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-end mt-4">
      <div class="offset-3 col-9 offset-md-6 col-md-6 col-xl-4 offset-xl-8 align-items-center">
        <div class="row align-items-end">
          <div class="offset-3 col-3">
            <a class='btn back' href='javascript:history.back()'>戻る</a>
          </div>
          <div class="offset-1 col-5">
            <button class="btn register btn-default align-items-end">確定する</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
