<div id="admin-league" class="container">
  {% set members = league.members %}
  <form class="row g-3" method="post">
    <ul class="list-group list-group-flush mb-3">
      <li class="list-group-item">
        <div class="col h5">参加希望者リスト</div>
      </li>
      <li class="list-group-item disabled">
        <div class="row">
          <div class="col-6">
            名前
          </div>
          <div class="col-3">
            参加希望押下日時
          </div>
          <div class="col-3">
            参加許可
          </div>
        </div>
      </li>
      {% for member in members %}
      <li class="list-group-item">
        <div class="row">
          <div class="col-1">
            {% if member.user.is_admin() %}
            <i class="bi bi-person-check-fill h4 orange"></i>
            {% elif member.user.is_member() %}
            <i class="bi bi-person-check-fill h4 deep-blue"></i>
            {% else %}
            {% endif %}
          </div>
          <div class="col-5">
            {{ member.user.name }}
          </div>
          <div class="col-3">
            {{ member.created_at }}
          </div>
          <div class="col-3">
            <input class="form-check-input" type="checkbox" name="enabled_league_member_ids" value="{{ member.id }}" {% if member.enabled %}checked{% endif %}>
          </div>
        </div>
      </li>
     {% endfor %}
     <li class="list-group-item">
       <div class="row">
         <div class="offset-9 col-3">
           <span id="check-count">0</span> / {{ league.place.capacity }}
         </div>
       </div>
     </li>
    </ul>
    {% if (members | count) > 0 %}
    <div class="row justify-content-end mt-4">
      <div class="offset-3 col-9 offset-md-6 col-md-6 col-xl-4 offset-xl-8 align-items-center">
        <div class="row align-items-end">
          <div class="offset-3 col-3">
            <a class='btn back' href='javascript:history.back()'>戻る</a>
          </div>
          <div class="offset-1 col-5">
            <button class="btn register btn-default align-items-end">反映</button>
          </div>
        </div>
      </div>
    </div>
    {% else %}
    <div class="form-group">
      <div class="col-10">
        <p>まだ参加希望者はいません。</p>
      </div>
    </div>
    {% endif %}
  </form>
  <div id='capacity' hidden>{{ league.place.capacity }}</div>
</div>
