<div class="table-responsive">
  <table id="target-table" class="table table-bordered table-fixed align-items-center text-center">
    <thead>
      <tr>
        <th scope=""></th>
        {% for user in users %}
        {% include 'league/parts/th_user_name.html' %}
        {% endfor %}
        <th scope="col">戦績</th>
        <th scope="col">順位</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
      <tr>
        {% include 'league/parts/th_user_name.html' %}
        {% for user_2 in users %}
        {% if user.id == user_2.id %}
        <td></td>
        {% else %}
        <td class="{{ user.id }}-{{ user_2.id }}">
          <span class="game-count">{{ league_log_hash["{}-{}".format(user.id, user_2.id)]['count_1'] }} - {{ league_log_hash["{}-{}".format(user.id, user_2.id)]['count_2'] }}</span>
        </td>
        {% endif %}
        {% endfor %}
        <td class="win-lose">
          {{ rank_hash[user.id]['win'] }} - {{ rank_hash[user.id]['lose'] }}
        </td>
        <td class="rank">
          {{ rank_hash[user.id]['rank'] }}
        </td>
        {% endfor %}
    </tbody>
  </table>
</div>
