<div class="container">
  <ul class="list-group list-group-flush">
    <li class="list-group-item disabled">
      <div class="row">
        <div class="col-sm-2">
          順位
        </div>
        <div class="col-sm-2">
          勝敗
        </div>
      </div>
    </li>
    {% for r_user_id in rank_user_ids %}
    <li class="list-group-item">
      <div class="row">
        <div class="col-sm-2">
          {{ rank_hash[r_user_id]['rank'] }}
        </div>
        <div class="col-sm-2">
          {{ rank_hash[r_user_id]['win'] }} - {{ rank_hash[r_user_id]['lose'] }}
        </div>
        <div class="col-sm-6">
          {{ rank_hash[r_user_id]['user_name'] }}
        </div>
      </div>
    </li>
   {% endfor %}
  </ul>
</div>
