<div class="container">
  <ul class="list-group list-group-flush text-center">
    <li class="list-group-item pale-gray small">
      <div class="row small">
        <div class="offset-4 col-2 text-center offset-md-3">
          勝敗
        </div>
        <div class="col-2 text-center">
          順位
        </div>
        <div class="col-4 text-start small align-items-center">
          順位づけの理由
        </div>
      </div>
    </li>
    {% for r_user_id in rank_user_ids %}
    <li class="list-group-item">
      <div class="row">
        <div class="col-4 col-md-3 text-start">
          {% if login_user.is_visitor() %}
            {% if login_user.id == r_user_id %}
            <b class="deep-blue">{{ rank_hash[r_user_id]['user_name'] }}</b>
            {% else %}
            <span class="light-blue">{{ rank_hash[r_user_id]['user_name'] }}</span>
            {% endif %}
          {% else %}
            {% if login_user.id == r_user_id %}
            <b><a class="deep-blue" href='/user/info/{{ rank_hash[r_user_id]["login_name"] }}/'>{{ rank_hash[r_user_id]['user_name'] }}</a></b>
            {% else %}
              {% if not rank_hash[r_user_id]['is_withdrawaler'] %}
                <a href='/user/info/{{ rank_hash[r_user_id]["login_name"] }}/'>{{ rank_hash[r_user_id]['user_name'] }}</a>
              {% else %}
                {{ rank_hash[r_user_id]['user_name'] }}
              {% endif %}
            {% endif %}
          {% endif %}
        </div>
        <div class="col-2 text-center small align-items-center">
          {{ rank_hash[r_user_id]['win'] }} - {{ rank_hash[r_user_id]['lose'] }}
        </div>
        <div class="col-2 text-center">
          {{ rank_hash[r_user_id]['rank'] }}
        </div>
        <div class="col-4 text-start small">
          {{ rank_hash[r_user_id]['reason'] }}
        </div>
      </div>
    </li>
   {% endfor %}
  </ul>
</div>
