<div class="container">
  {% if (league_list_hash['status_finished'] | count) > 0 %}
  <ul class="list-group list-group-flush">
    <li class="list-group-item pale-gray small">
      <div class="row">
        <div class="col-4 offset-8 small text-center">
          参加状況
        </div>
      </div>
    </li>
    {% for league in league_list_hash['status_finished'] %}
    <li class="list-group-item">
      <div class="row align-items-center">
        <div class="col-8">
          {% include 'league_list/parts/row_league_date_and_name.html' %}
        </div>
        <div class="col-4 text-center">
          {% if league.id in user_join_enable_league_ids %}
          <i class="bi bi-check-circle-fill"></i>
          {% endif %}
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <div class="row mt-3">
    <div class="col-12 small pale-gray">
      開催終了したイベントはありません。
    </div>
  </div>
  {% endif %}
</div>
