{% if (league_list_hash['status_ready_after_session'] | count ) > 0 %}
<div class="container">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <h3>順位が未確定のリーグ戦</h3>
    </li>
    <li class="list-group-item disabled">
      <div class="row">
        <div class="col-4">
        </div>
        <div class="col-4 small">
          参加可否
        </div>
      </div>
    </li>
  {% for league in league_list_hash['status_ready_after_session'] %}
    <li class="list-group-item">
      <div class="row align-items-center">
        <div class="col-4">
          {% include 'league_list/parts/row_league_date_and_name.html' %}
        </div>
        <div class="col-4">
          {% if league.id in user_join_enable_league_ids %}
          <i class="bi bi-check-circle-fill"></i>
          {% elif league.id in user_join_disable_league_ids %}
          <i class="bi bi-dash-circle"></i>
          {% endif %}
        </div>
    </li>
  {% endfor %}
  </ul>
</div>
{% endif %}
