<div class="container">
  {% if (league_list_hash['status_recruiting'] | count) > 0 %}
  <ul class="list-group list-group-flush">
    <li class="list-group-item pale-gray small">
      <div class="row">
        <div class="col-4">
        </div>
        <div class="col-2 small">
          定員
        </div>
        <div class="col-2 small">
          参加希望
        </div>
        <div class="col-4 small">
          募集締切日
        </div>
      </div>
    </li>
    {% for league in league_list_hash['status_recruiting'] %}
    <li class="list-group-item">
      <div class="row align-items-center">
        <div class="col-4">
          {% include 'league_list/parts/row_league_date_and_name.html' %}
        </div>
        <div class="col-2">
          <span class="align-bottom">{{ league.place.capacity }} 人</span>
        </div>
        <div class="col-2">
          {% include 'league_list/parts/form_join_button.html' %}
        </div>
        <div class="col-4">
          {% if not league.is_in_join_session() %}
          <div class="row small orange">
            <div class="col small">※ 締め切りました</div>
          </div>
          {% endif %}
          {{ league.join_end_at_for_display }}
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <div class="row mt-3">
    <div class="col-12 small pale-gray">
      現在募集中のイベントはありません。
    </div>
  </div>
  {% endif %}
</div>
