<ul class="nav nav-tabs mb-2" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <a class="nav-link active" id="chart-tab" data-bs-toggle="tab" href="#chart" role="tab" aria-controls="chart" aria-selected="true">リーグ戦表</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="personal-tab" data-bs-toggle="tab" href="#personal" role="tab" aria-controls="personal" aria-selected="false">個人戦表</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="ranking-tab" data-bs-toggle="tab" href="#ranking" role="tab" aria-controls="ranking" aria-selected="false">順位表</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="point-ranking-tab" data-bs-toggle="tab" href="#point_ranking" role="tab" aria-controls="point-ranking" aria-selected="false">ポイント順位表</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="chart" role="tabpanel" aria-labelledby="chart-tab">
    {% include 'league/parts/league_chart.html' %}
  </div>
  <div class="tab-pane fade" id="personal" role="tabpanel" aria-labelledby="personal-tab">
    {% include 'league/parts/after_session/personal_record.html' %}
  </div>
  <div class="tab-pane fade" id="ranking" role="tabpanel" aria-labelledby="ranking-tab">
    {% include 'league/parts/ranking.html' %}
  </div>
  <div class="tab-pane fade" id="point_ranking" role="tabpanel" aria-labelledby="personal-tab">
    {% include 'league/parts/after_session/point_rank.html' %}
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="detailModal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-title"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container" id="modal-body">
        {% for count in range(league.game_count) %}
          <div class="row">
            <div class="col-sm-4">
              <p class="score_1_{{ count }}"></p>
        		</div>
            <div class="col-sm-4">
              <p>-</p>
            </div>
            <div class="col-sm-4">
              <p class="score_2_{{ count }}"></p>
        		</div>
        	</div>
        {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="pointDetailModal" tabindex="-1" aria-labelledby="PointModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container" id="point-modal-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="row">
                <div class="col-4 pale-gray small">
                  ベースポイント
                </div>
                <div class="col-8 base-point"></div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-4 pale-gray small">
                  リーグポイント
                </div>
                <div class="col-6 league-point"></div>
                <div class="col-2 league-point-frame"></div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-4 pale-gray small">
                  ボーナスポイント
                </div>
                <div class="col-7 bonus-point"></div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="rankingDescriptionModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">SPOTTOランキングについて</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container small">
          <ul>
            <li>各年1/1〜12/31までの1年間のリーグ戦の成績で上位8大会のポイントを合計</li>
            <li>前年の合計ポイントの8分の1を翌年のBase pointとして持ち越し</li>
            <li>ボーナスポイント(MBP)=その年にまぐに1勝するごとに + 1500P（最大4回まで）</li>
            <li>各年、年末にランキング上位3名に賞品授与</li>
            <li>※12人以上の大規模大会はポイント1.5倍</li>
            <li>※年末に開催するファイナル大会はポイント変則約2倍</li>
            <li>※その年の全日本選手権、全日本社会人選手権出場でBase point + 10000P</li>
            <li>※その年の全日本クラブ選手権出場で出場メンバーのBase point + 5000P</li>
            <li>※その年の東京選手権、全日本学生選手権出場でBase point + 3000P</li>
            <li>※上記本選大会で1勝ごとにBase point+1500P</li>
            <li>※SPOTTOで出場したオープン大会で1回優勝ごとにBase point + 1500P</li>
          </ul>
          <p class="text-center">〜全日本クラブ選手権のAチーム(4名)の選考基準〜</p>
          <ul>
            <ul>
              <li>大会申込時点で、参加希望者のうちランキング上位3名</li>
              <li>あと1名は、上記3名による投票にて決定</li>
            </ul>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="pointDescriptionModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">ポイントについて</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container small">
          <p>リーグ戦の順位ごとに獲得できるポイントは以下の通り</p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item pale-gray small">
              <div class="row small">
                <div class="offset-2 col-3 text-center">
                  順位
                </div>
                <div class="col-6 text-center">
                  獲得ポイント
                </div>
              </div>
            </li>
            {% set league_points = league.league_points %}
            {% for lp in league_points %}
            <li class="list-group-item">
              <div class="row">
                <div class="offset-2 col-3 text-center">
                  {{ lp.rank }}
                </div>
                <div class="col-6 text-center">
                  {{ lp.point }}
                </div>
              </div>
            </li>
            {% endfor %}
            <li class="list-group-item">
              <div class="row">
                <div class="offset-2 col-3 text-center">
                  {{ league_points[-1].rank }}位以下
                </div>
                <div class="col-6 text-center">
                  {{ league_points[-1].point }}
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
