{% if league.is_status_recruiting() %}
{% set members = league.members %}
{% else %}
{% set members = league.enable_members %}
{% endif %}
<ul class="list-group list-group-flush mt-4">
  <li class="list-group-item disabled">
    <div class="row small">
      <div class="col-6 small pale-gray">
        参者希望者リスト
      </div>
      <div class="col-6 small pale-gray">
        参者希望ボタン押下日時
      </div>
    </div>
  </li>
  {% if (members | count) > 0 %}
  {% for member in members %}
  <li class="list-group-item">
    <div class="row">
      <div class="col-1">
      {% if member.user.is_admin() %}
      <i class="bi bi-person-check-fill h4 orange"></i>
      {% elif member.user.is_member() %}
      <i class="bi bi-person-check-fill h4 deep-blue"></i>
      {% else %}
      {% endif %}
      </div>
      <div class="col-5">
      {% if login_user.name == member.user.name %}
        <b><a class="deep-blue" href='/user/info/{{ member.user.login_name }}/'>{{ member.user.name }}</a></b>
      {% else %}
        <a href='/user/info/{{ member.user.login_name }}/'>{{ member.user.name }}</a>
      {% endif %}
      </div>
      <div class="col-6">
        {{ member.created_at }}
      </div>
    </div>
  </li>
  {% endfor %}
  <div class="row align-items-center mt-4">
    <div class="offset-4 col-4 offset-lg-5 col-lg-2">
      <form method="post">
        <input type="hidden" name="league_id" value="{{ league.id }}">
        {% if is_wanted_join %}
        <input type="hidden" name="status_join" value=0>
        <button class="btn cancel">キャンセルする</button>
        {% else %}
        <input type="hidden" name="status_join" value=1>
        <button class="btn join">参加表明する</button>
        {% endif %}
      </form>
    </div>
  </div>
  {% else %}
  <li class="list-group-item">
    <div class="row">
      <div class="col-12 small pale-gray">参加希望者はまだいません。</div>
    </div>
  </li>
  <li class="list-group-item">
    <div class="row align-items-center mt-4">
      <div class="offset-4 col-4 offset-lg-5 col-lg-2">
        <form method="post">
          <input type="hidden" name="league_id" value="{{ league.id }}">
          <input type="hidden" name="status_join" value=1>
          <button class="btn join">参加表明する</button>
        </form>
      </div>
    </div>
  </li>
  {% endif %}
</ul>
