<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <a class="nav-link active" id="chart-tab" data-bs-toggle="tab" href="#chart" role="tab" aria-controls="chart" aria-selected="true">リーグ戦表</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="personal-tab" data-bs-toggle="tab" href="#personal" role="tab" aria-controls="personal" aria-selected="false">個人戦表</a>
  </li>
</ul>
<div class="tab-content mt-3" id="myTabContent">
  <div class="tab-pane fade show active" id="chart" role="tabpanel" aria-labelledby="chart-tab">
    {% include 'league/parts/league_chart.html' %}
  </div>
  <div class="tab-pane fade" id="personal" role="tabpanel" aria-labelledby="personal-tab">
    {% include 'league/parts/in_session/personal_record.html' %}
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="detailModal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-title"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container" id="modal-body">
        {% for count in range(league.game_count) %}
          <div class="row align-items-center">
            <div class="col-1"></div>
            <div class="col-4">
        			<div class="input-group number-spinner">
        				<span class="input-group-btn">
        					<button class="btn btn-default" data-dir="dwn"><i class="bi bi-dash-square"></i></button>
        				</span>
                <input type="number" class="score_1_{{ count }} form-control text-center score-left no-spin" value="0">
        				<span class="input-group-btn">
        					<button class="btn btn-default" data-dir="up"><i class="bi bi-plus-square"></i></button>
        				</span>
        			</div>
        		</div>
            <div class="col-2 text-center">
              -
            </div>
            <div class="col-4">
        			<div class="input-group number-spinner">
        				<span class="input-group-btn">
        					<button class="btn btn-default" data-dir="dwn"><i class="bi bi-dash-square"></i></button>
        				</span>
                <input type="number" class="score_2_{{ count }} form-control text-center score-right no-spin" value="0">
        				<span class="input-group-btn">
        					<button class="btn btn-default" data-dir="up"><i class="bi bi-plus-square"></i></button>
        				</span>
        			</div>
        		</div>
        	</div>
        {% endfor %}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn pale-gray" data-bs-dismiss="modal">キャンセル</button>
        <button type="button" id="modal-save-btn" class="btn btn-primary" data-bs-dismiss="modal">更新</button>
      </div>
    </div>
  </div>
</div>
