{% extends 'base.html' %}

{% block title %}エラー{% endblock %}

{% block content %}
<div id="error" class="container">
  <div class='row pt-4 mb-3 align-items-end'>
    <div class='col-12'>
      <div class='h3 deep-blue'>エラー</div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="alert alert-danger alert-dismissible fade show mt-4" role="alert">
        {{ error_message }}
      </div>
    </div>
  </div>
</div>
<div class="container">
  <hr></hr>
  <div class="row mt-4">
    <div class="col-4 col-sm-2">
      <a class='btn' href='/'>TOPへ</a>
    </div>
  </div>
</div>
{% endblock %}
