{% extends 'base.html' %}

{% block title %}{{ league.name }}{% endblock %}

{% block content %}
<h1>{{ league.name }}</h1>
<ul>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      {% for (league_member, user) in league_members_and_users %}
      <th scope="col">{{ user.name }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for (league_member, user) in league_members_and_users %}
      <tr>
        <th scope="row">{{ user.name }}</th>
      {% for (league_member_2, user_2) in league_members_and_users %}
        {% if league_member.id < league_member_2.id %}
          {% set log = league_log_hash.get((user.id, user_2.id)) %}
          {% if log %}
            {% set game_count = game_count_hash.get(log.id, (0, 0)) %}
            {% set details = league_log_detail_hash.get(log.id, []) %}
            <td>
              {{ game_count[0] }} - {{ game_count[1] }} /
              {% for detail in details %}
              {{ detail.score_1, detail.score_2 }}
              {% endfor %}
            </td>
          {% else %}
            <td></td>
          {% endif %}
        {% elif league_member.id == league_member_2.id %}
          <td>斜線</td>
        {% else %}
          {% set log = league_log_hash.get((user_2.id, user.id)) %}
          {% if log %}
            {% set game_count = game_count_hash.get(log.id, (0, 0)) %}
            {% set details = league_log_detail_hash.get(log.id, []) %}
            <td>
              {{ game_count[1] }} - {{ game_count[0] }} /
              {% for detail in details %}
              {{ detail.score_2, detail.score_1 }}
              {% endfor %}
            </td>
          {% else %}
            <td></td>
          {% endif %}
        {% endif %}
        {% endfor %}
      {% endfor %}
  </tbody>
</table>

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      {% for (league_member, user) in league_members_and_users %}
      <th scope="col">{{ user.name }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for (league_member, user) in league_members_and_users %}
      <tr>
        <th scope="row">{{ user.name }}</th>
      {% for (league_member_2, user_2) in league_members_and_users %}
        <td>{{ league_member.id, league_member_2.id }}{{ user.id, user_2.id }}</td>
        {% endfor %}
      {% endfor %}
  </tbody>
</table>
{% endblock %}
