{% extends 'base.html' %}
{% block head %}
<script src="{{ url_for("static", filename="js/league.js") }}?{{ timestamp }}"></script>
{% endblock %}
{% block title %}{{ league.name }}{% endblock %}

{% block content %}
<h1>{{ league.name }}</h1>
{% if league.is_recruiting() %}
{% elif league.is_in_session() %}
  {% include 'league/in_session.html' %}  
{% elif league.is_after_session() %}
{% elif league.is_stopped_recruiting() %}
  {% include 'league/stopped_recruiting.html' %}  
{% endif %}
<div id='league_id' hidden>{{ league.id }}</div>
<div id='user_id' hidden>{{ login_user.id }}</div>
{% endblock %}
