{% extends 'base.html' %}
{% block head %}
<script src="{{ url_for("static", filename="js/league_list.js") }}?{{ timestamp }}"></script>
{% endblock %}
{% block title %}Spotto League一覧{% endblock %}

{% block content %}

<div class='col-3 d-sm-block d-md-none'></div>

<div id='league-list' class="container">
  <div class='row pt-2 align-items-center'>
    <div class='col-3 col-md-2'>
      <img class='logo' src='/static/images/logo.png' />
    </div>
    <div class='col-9'>
      <div class='container block mt-3'>
      {% if is_from_register %}
        <div class='row h5'>
          <col-12>
            SPOTTOへようこそ、<a class="deep-blue" href='/user/{{ login_user.login_name }}/'>{{ login_user.name }}</a>さん！
          </col>
        </div>
        <div class='row'>
          <col-12>
            登録お疲れ様でした！
          </col>
        </div>
        <div class='row mt-4 small'>
          <col-12>
            練習会に参加する場合は、対象の募集中の項目の<span class="deep-blue">参加希望にチェック</span>をつけてください。
          </col>
        </div>
        <div class='row small'>
          <col-12>
            定員と参加希望者数の兼ね合いを見つつ、練習会への参加許可を行います。
          </col>
        </div>
        <div class='row mt-4'>
          <col-12>
            それでは試合頑張ってくださいねっ！
          </col>
        </div>
      {% else %}
        <div class='row'>
          <col-12>こんにちは、<a class="deep-blue" href='/user/{{ login_user.login_name }}/'>{{ login_user.name }}</a>さん！</col>
        </div>
      {% endif %}
      </div>
    </div>
  </div>
 
  {% include 'league_list/parts/today.html' %}

  <ul class="nav nav-tabs mt-4" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="recruiting-tab" data-bs-toggle="tab" href="#recruiting" role="tab" aria-controls="recruiting" aria-selected="true">募集中</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="ready-tab" data-bs-toggle="tab" href="#ready" role="tab" aria-controls="ready" aria-selected="false">近々開催</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="finished-tab" data-bs-toggle="tab" href="#finished" role="tab" aria-controls="finished" aria-selected="false">開催終了</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="recruiting" role="tabpanel" aria-labelledby="recruiting-tab">
      {% include 'league_list/parts/status_recruiting.html' %}
    </div>
    <div class="tab-pane fade" id="ready" role="tabpanel" aria-labelledby="ready-tab">
      {% include 'league_list/parts/status_ready.html' %}
    </div>
    <div class="tab-pane fade" id="finished" role="tabpanel" aria-labelledby="finished-tab">
      {% include 'league_list/parts/status_finished.html' %}
    </div>
  </div>

  <div class='row justify-content-center p-4'>
    <form action="/user/logout" method="get">
      <div class="col-sm-offset-2 col-sm-10">
        <button class="btn btn-default">ログアウト</button>
      </div>
    </form>
  </div>
  <div id='user_id' hidden>{{ login_user.id }}</div>
</div>
{% endblock %}
