{% extends 'base.html' %}
{% block head %}
<script src="{{ url_for("static", filename="js/league_list.js") }}?{{ timestamp }}"></script>
{% endblock %}
{% block title %}Spotto League一覧{% endblock %}

{% block content %}
<div class="container">
  <h1>Spottoリーグ一覧</h1>
  <p>こんにちは、<a href='/user/{{ login_user.login_name }}/'>{{ login_user.name }}</a>さん</p>
  
  {% include 'league_list/parts/today.html' %}
  
  {% include 'league_list/parts/status_recruiting.html' %}

  {% include 'league_list/parts/status_ready.html' %}
  
  {% include 'league_list/parts/status_ready_after_session.html' %}

  {% include 'league_list/parts/status_finished.html' %}
  <form class="form-horizontal" action="/user/logout" method="get">
      <div class="col-sm-offset-2 col-sm-10">
        <button class="btn btn-default">ログアウト</button>
      </div>
  </form>
  {% endblock %}
  <div id='user_id' hidden>{{ login_user.id }}</div>
</div>
