<div id="admin" class="container mt-5">
  <div class="row">
    <div class="col-12 orange h4">
      管理者メニュー
    </div>
  </div>
  <ul class="list-group list-group-flush mb-3">
    <li class="list-group-item">
      <a href="/admin/league/register">リーグ戦のスケジュールを登録する</a>
    </li>
  </ul>
  <ul class="nav nav-tabs mt-4">
    <li class="nav-item">
      <a class="nav-link active">現在募集中のリーグ戦</a>
    </li>
  </ul>
  <ul class="list-group list-group-flush">
    {% for league in yet_recruiting_league_list %}
    <li class="list-group-item">
      <div class="row">
        <div class="col">
          <a href='/admin/league/{{ league.id }}/'>{{ league.time_for_display }}　{{ league.name }}</a>
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>

  {% if (yet_finished_league_list | count) > 0 %}
  <ul class="nav nav-tabs mt-4 strong">
    <li class="nav-item">
      <a class="nav-link active">未終了のリーグ戦</a>
    </li>
  </ul>
  <ul class="list-group list-group-flush">
    {% for league in yet_finished_league_list %}
    <li class="list-group-item">
      <div class="row">
        <div class="col">
          <a class='deep-blue' href='/admin/league/{{ league.id }}/'>{{ league.time_for_display }}　{{ league.name }}</a>
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>
  {% endif %}
</div>
