<div id="admin" class="container mt-5">
  <div class="row">
    <div class="col-12 orange h4">
      管理者メニュー
    </div>
  </div>
  <ul class="list-group list-group-flush mb-3">
    <li class="list-group-item">
      <a href="/admin/league/register">リーグ戦のスケジュールを登録する</a>
    </li>
    <li class="list-group-item">
      <a href="/admin/user/register/point">ポイント付与を行う</a>
    </li>
    <li class="list-group-item">
      <a href="/admin/user/list">ユーザ一覧</a>
    </li>
  </ul>
  <ul class="nav nav-tabs mt-4">
    <li class="nav-item">
      <a class="nav-link active">現在募集中のリーグ戦</a>
    </li>
  </ul>
  <ul class="list-group list-group-flush">
    <li class="list-group-item pale-gray small">
      <div class="row">
        <div class="col-4">
        </div>
        <div class="col-2 small">
          定員
        </div>
        <div class="col-4 small">
          募集締切日
        </div>
      </div>
    </li>
    {% for league in yet_recruiting_league_list %}
    <li class="list-group-item">
      <div class="row align-items-center">
        <div class="col-4">
          <div class="row small gray">
            <div class="col">{{ league.date_for_display }}</div>
          </div>
          <div class="row">
            <div class="col">
              <a href='/admin/league/{{ league.id }}/'>{{ league.name }}</a>
            </div>
          </div>
        </div>
        <div class="col-2">
          <span class="align-bottom">{{ league.place.capacity }} 人</span>
        </div>
        <div class="col-4">
          {% if not league.is_in_join_session() %}
          <div class="row small orange">
            <div class="col small">※ 締め切りました</div>
          </div>
          {% endif %}
          {{ league.join_end_at_for_display }}
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>

  {% if (yet_finished_league_list | count) > 0 %}
  <ul class="nav nav-tabs mt-4 strong">
    <li class="nav-item">
      <a class="nav-link active">未終了のリーグ戦</a>
    </li>
  </ul>
  <ul class="list-group list-group-flush">
    {% for league in yet_finished_league_list %}
    <li class="list-group-item">
      {% if league.is_after_session() %}
      <div class="row small orange">
        <div class="col small">開催終了しています。</div>
      </div>
      {% endif %}
      <div class="row align-items-center">
        <div class="col">
          <div class="row small gray">
            <div class="col">{{ league.date_for_display }}</div>
          </div>
          <div class="row">
            <div class="col">
              <a href='/admin/league/{{ league.id }}/'>{{ league.name }}</a>
            </div>
          </div>
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>
  {% endif %}
</div>
