{% extends 'base.html' %}

{% block title %}Spottoユーザ情報{% endblock %}

{% block content %}
<div id="user-info" class="container">
  <div class='row pt-2 mb-3 align-items-end'>
    <div class='col-3 col-md-2'>
      <img class='logo' src='/static/images/logo.png' />
    </div>
    <div class='col-9 col-md-10 h1'>
      {{ user.name }} / {{ user.login_name }}
    </div>
  </div>

  <ul class="list-group list-group-flush mb-3">
    {% if user.id == login_user.id %}
    <li class="list-group-item">
      <div class="row">
        <div class="col-3 pale-gray small">本名</div>
        {% if user.first_name and user.last_name %}
        <div class="col-5">{{ user.last_name }} {{ user.first_name }}</div>
        {% else %}
        <div class="col-5 pale-gray">未設定</div>
        {% endif %}
        <div class="col-4 pale-gray small"><span class="small">※ 本名は本人と管理者のみ閲覧可能です。</small></div>
      </div>
    </li>
    {% endif %}
    <li class="list-group-item">
      <div class="row">
        <div class="col-3 pale-gray small">性別</div>
        <div class="col-9">{{ user.gender_for_display }}</div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-3 pale-gray small">誕生日</div>
        <div class="col-9">{{ user.birthday_for_display }}</div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-3 pale-gray small">登録日時</div>
        <div class="col-9">{{ user.created_at }}</div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-3 pale-gray small">最終更新日時</div>
        <div class="col-9">{{ user.updated_at }}</div>
      </div>
    </li>
  {% if user.id == login_user.id %}
    <li class="list-group-item">
      <div class="row">
        <div class="offset-3 col-9"><a href="/user/modify/">ユーザ情報を修正する</a></div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="offset-3 col-9"><a href="/user/modify/password/">パスワードを変更する</a></div>
      </div>
    </li>
  {% endif %}
  </ul>

  <div class="row">
    <div class="col-12 h4">
      チーム内成績
    </div>
  </div>
  {% if is_update_for_admin %}
  <div class="row">
    <div class="col-12">
      <div class="alert alert-success alert-dismissible fade show mt-4" role="alert">
        更新しました。
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    </div>
  </div>
  {% endif %}
  <ul class="list-group list-group-flush mb-3">
    <li class="list-group-item">
      <div class="row">
        <div class="col"><a href="/user/ranking/{{ year }}/">チーム全体の順位</a></div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-3 pale-gray small">順位</div>
        {% if point_rank.current_rank <= 3 %}
        <div class="col-9"><i class="bi bi-bookmark-star-fill rank-{{ point_rank.current_rank }}"></i> {{ point_rank.current_rank }} 位</div>
        {% else %}
        <div class="col-9">{{ point_rank.current_rank }} 位</div>
        {% endif %}
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-3 pale-gray small">ポイント</div>
        <div class="col-9">{{ point_rank.current_point }} pt</div>
      </div>
      <div class="row mt-2 small">
        <div class="offset-3 col-3 pale-gray small">ベースポイント</div>
        <div class="col-6">{{ point_rank.current_base_point or 0 }} pt</div>
      </div>
      <div class="row small">
        <div class="offset-3 col-3 pale-gray small">リーグポイント</div>
        <div class="col-6">{{ point_rank.current_league_points }} pt ({{ point_rank.current_league_points | length }} / 8)</div>
      </div>
      <div class="row small">
        <div class="offset-3 col-3 pale-gray small">ボーナスポイント</div>
        <div class="col-6">{{ point_rank.current_bonus_point }} pt</div>
      </div>
    </li>
  </ul>
</div>
{% if user.id == login_user.id %}
  {% if login_user.is_admin() %}
    {% include 'user/admin.html' %}
  {% endif %}
{% endif %}
<div class="container">
  <hr></hr>
  <div class="row mt-4">
    <div class="col-3 col-sm-2">
      <a class='btn' href='/'>TOPへ</a>
    </div>
  </div>
</div>
{% endblock %}
