{% extends 'base.html' %}
{% block head %}
<script src="{{ url_for("static", filename="js/alert.js") }}?{{ timestamp }}"></script>
{% endblock %}
{% block title %}Spottoログイン{% endblock %}

{% block content %}

<div id='login' class='container'>
  <div class='row justify-content-center'>
    <div class='col-5 col-md-3 col-lg-2 pt-2'>
      <img class='logo' src='/static/images/logo.png' />
    </div>
  </div>
  {% if is_miss_login %}
  <div class="row">
    <div class="col-12">
      <div class="alert alert-warning alert-dismissible fade show mt-4" role="alert">
        ログインIDまたはパスワードが違います。
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    </div>
  </div>
  {% endif %}
    <form method="post">
      <div class='row justify-content-center pt-4'>
        <label class="col-md-2 col-lg-1 control-label">ログインID</label>
        <div class="col-md-4">
          <input class="form-control" type="text" name="login_name">
        </div>
      </div>
      <div class='row justify-content-center pt-4'>
        <label class="col-md-2 col-lg-1 control-label">パスワード</label>
        <div class="col-md-4">
          <input class="form-control" type="password" name="password">
        </div>
      </div>
      <div class='row justify-content-center pt-4'>
          <button class="btn btn-default col-4 col-md-2 col-xl-1">ログイン</button>
      </div>
    </form>
      <div class='row justify-content-center pt-2'>
        <p class="col-md-6 col-lg-5"><a href='/user/register'>新規登録はこちら</a></p>
      </div>
  </div>
</div>
{% endblock %}
