{% extends 'base.html' %}

{% block title %}Spottoログイン{% endblock %}

{% block content %}

<div id='login' class='container'>
  <div class='row justify-content-center'>
    <div class='col-5 d-sm-block d-md-none pt-2'>
      <img class='logo' src='/static/images/logo.png' />
    </div>
    <div class='col-md-3 d-none d-md-block pt-2'>
      <img class='logo' src='/static/images/logo.png' />
    </div>
  </div>

    <form method="post">
      <div class='row justify-content-center pt-4'>
        <label class="col-md-2 col-lg-1 control-label">ログインID</label>
        <div class="col-md-4">
          <input class="form-control" type="text" name="login_name">
        </div>
      </div>
      <div class='row justify-content-center pt-4'>
        <label class="col-md-2 col-lg-1 control-label">パスワード</label>
        <div class="col-md-4">
          <input class="form-control" type="password" name="password">
        </div>
      </div>
      <div class='row justify-content-center pt-4'>
          <button class="btn btn-default col-4 col-md-2 col-xl-1">ログイン</button>
      </div>
    </form>
      <div class='row justify-content-center pt-2'>
        <p class="col-md-6 col-lg-5"><a href='/user/register'>新規登録はこちら</a></p>
      </div>
  </div>
</div>
{% endblock %}
