{% extends 'base.html' %}
{% block head %}
<script src="{{ url_for("static", filename="js/form.js") }}?{{ timestamp }}"></script>
{% endblock %}

{% block title %}Spotto | ユーザ情報の修正{% endblock %}

{% block content %}
<div id="user-modify" class="container">
  <div class='row caption justify-content-center'>
    <div class="col-12 pt-2 mb-4">
      <span class="h4">ユーザ情報の修正</span>
    </div>
  </div>

  <div class='row caption'>
    <span class="h6">ログイン情報</span>
  </div>
  <div class='container block mb-4'>
    <div class='row justify-content-center'>
      <div class="col-12 has-validation">
        <div class='row small mb-1'>
          <div class="col form-title">
            ログインID<label class="deep-blue small">※ ログインIDの変更はできません。</label>
          </div>
        </div>
        <span class="h5">{{ login_user.login_name }}</span>
      </div>
    </div>
  </div>
  <form method="post">
    {% include 'user/parts/user_info_form.html' %}

    <hr></hr>
    {% include 'user/parts/row_back_and_update_button.html' %}
  </form>
</div>
{% endblock %}
