{% extends 'base.html' %}

{% block head %}
<script src="{{ url_for("static", filename="js/description.js") }}?{{ timestamp }}"></script>
<script src="{{ url_for("static", filename="js/user/ranking.js") }}?{{ timestamp }}"></script>
{% endblock %}
{% block title %}{{ year }} 年のランキング一覧{% endblock %}

{% block content %}
<div id="user-ranking" class="container">
  <div class='row pt-2 mb-3 align-items-end'>
    <div class='col-9 col-md-10 h3'>
      {{ year }} 年のチーム全体の順位
    </div>
  </div>

  <div class="container">
    <ul class="list-group list-group-flush">
      <li class="list-group-item pale-gray small">
        <div class="row small">
          <div class="col-2 text-center">
            順位<i class="bi bi-question-circle-fill what-is-ranking orange"></i>
          </div>
          <div class="col-3 col-md-2 text-center">
            ポイント
          </div>
        </div>
      </li>
      {% for point_rank in point_ranks %}
      <li class="list-group-item">
        <div class="row">
          <div class="col-2 text-center">
            {% if point_rank.current_rank in [1,2,3] %}
            <i class="bi bi-bookmark-star-fill rank-{{ point_rank.current_rank }}"></i>
            {% endif %}
            {{ point_rank.current_rank }}
          </div>
          <div class="col-3 col-md-2 text-end current_point">
            <div class='user_id' hidden>{{ point_rank.user.id }}</div>
            {{ point_rank.current_point }} <i class="light-blue bi bi-info-circle-fill"></i>
          </div>
          <div class="col-1 text-end">
            {% if point_rank.user.is_admin() %}
            <i class="bi bi-person-check-fill h4 orange"></i>
            {% elif point_rank.user.is_member() %}
            <i class="bi bi-person-check-fill h4 deep-blue"></i>
            {% else %}
            {% endif %}
          </div>
          <div class="col-4">
            {% if login_user.id == point_rank.user.id %}
            <b><a class="deep-blue" href='/user/info/{{ point_rank.user.login_name }}/'>{{ point_rank.user.name }}</a></b>
            {% else %}
            <a href='/user/info/{{ point_rank.user.login_name }}/'>{{ point_rank.user.name }}</a>
            {% endif %}
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>

<div id='year' hidden>{{ year }}</div>
<div class="container">
  <hr></hr>
  <div class="row mt-4">
    <div class="col-3 col-sm-2">
      <a class='btn back' href='/user/info/{{ login_user.login_name }}/'>戻る</a>
    </div>
  </div>
</div>
{% include 'league/parts/after_session/modal_view_for_ranking.html' %}
{% endblock %}
