{% extends 'base.html' %}
{% block head %}
<script src="{{ url_for("static", filename="js/form.js") }}?{{ timestamp }}"></script>
{% endblock %}
{% block title %}Spottoユーザ登録{% endblock %}

{% block content %}
<div id='register' class='container'>
  <div class='row caption justify-content-center'>
    <div class="col-12 pt-2 mb-4">
      <span class="h4">ユーザ登録画面</span>
    </div>
  </div>

  <form method="post">
    <input type="hidden" name="is_from_register" value=1>
    <div class='row caption'>
      <span class="h6">ログイン情報</span>
    </div>
    <div class='container block mb-4'>
      <div class='row justify-content-center'>
        <div class="col-12 has-validation">
          <div class='row small mb-1'>
            <div class="col form-title">
              ログインID<label class="invalid" for="login-name"></label>
            </div>
          </div>
          <input type="text" class="form-control" id="login-name" name="login_name" placeholder="spotto">
        </div>
      </div>

      <div class='row justify-content-center mt-2'>
        <div class="col-12 has-validation">
          <div class='row small mb-1'>
            <div class="col form-title">
              パスワード<label class="invalid" for="password"></label>
            </div>
          </div>
          <input type="password" class="form-control" id="password" name="password" placeholder="6文字以上ご入力ください。">
        </div>
      </div>

      <div class='row justify-content-center mt-2'>
        <div class="col-12 has-validation">
          <div class='row small mb-1'>
            <div class="col form-title">
              パスワード（確認用）
            </div>
          </div>
          <input type="password" class="form-control" id="confirm-password" name="confirm_password" placeholder="再度ご入力ください。">
        </div>
      </div>
    </div>

    {% include 'user/parts/user_info_form.html' %}

    <div class='register'>
      <div class='row justify-content-center mt-4'>
        <div class="form-group">
          <div class="offset-10 col-2 offset-lg-11 col-lg-1">
            <button class="btn btn-default">登録</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

{% endblock %}
