{% extends 'base.html' %}
{% block head %}
<script src="{{ url_for("static", filename="js/form.js") }}?{{ timestamp }}"></script>
{% endblock %}
{% block title %}Spottoユーザ登録{% endblock %}

{% block content %}
<div id='register' class='container'>
  <div class='row caption justify-content-center'>
    <div class="col-12 pt-2 mb-4">
      <span class="h4">ユーザ登録画面</span>
    </div>
  </div>

  <form method="post">
    <input type="hidden" name="is_from_register" value=1>
    <div class='row caption'>
      <span class="h6">ログイン情報</span>
    </div>
    <div class='container block mb-4'>
      <div class='row justify-content-center'>
        <div class="col-12 has-validation">
          <div class='row small mb-1'>
            <div class="col form-title">
              ログインID<label class="invalid" for="login-name"></label>
            </div>
          </div>
          <input type="text" class="form-control" id="login-name" name="login_name" placeholder="spotto">
        </div>
      </div>

      <div class='row justify-content-center mt-2'>
        <div class="col-12 has-validation">
          <div class='row small mb-1'>
            <div class="col form-title">
              パスワード<label class="invalid" for="password"></label>
            </div>
          </div>
          <input type="password" class="form-control" id="password" name="password" placeholder="6文字以上ご入力ください。">
        </div>
      </div>

      <div class='row justify-content-center mt-2'>
        <div class="col-12 has-validation">
          <div class='row small mb-1'>
            <div class="col form-title">
              パスワード（確認用）
            </div>
          </div>
          <input type="password" class="form-control" id="confirm-password" name="confirm_password" placeholder="再度ご入力ください。">
        </div>
      </div>
    </div>

    {% include 'user/parts/user_info_form.html' %}

    <div class='row caption'>
      <span class="h6">その他</span>
    </div>
    <div class='container block mb-4'>
      <div class='row justify-content-center mt-2'>
        <div class="col-12 has-validation">
          <div class='row small mb-1'>
            <div class="col form-title">
              秘密の合言葉<label class="invalid" for="common-password"></label>
            </div>
          </div>
          <input type="password" class="form-control" id="common-password" name="common_password" placeholder="関係者にご確認ください。">
        </div>
      </div>
    </div>

    <div class='register'>
      <div class="row justify-content-end mt-4">
        <div class="offset-3 col-9 offset-md-6 col-md-6 col-xl-4 offset-xl-8 align-items-center">
          <div class="row align-items-end">
            <div class="offset-3 col-3">
              <a class='btn back' href='javascript:history.back()'>戻る</a>
            </div>
            <div class="offset-1 col-5">
              <button class="btn btn-default">登録</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

{% endblock %}
